
.hero {
  background: url("/images/OriginaltGeirVie_pano_2.jpg") repeat-x center center;
}

.account-masthead,
.navbar,
.site-footer{
  background: #0c0c0c;
}

.homepage .module-search .module-content {
  background: #bcb5b5;
}

.welcome {
  color: white;
  text-align: center;
}

.welcome h1 {
  font-size: 40px;
}

.module-content {
  color: black;
}

body {
  color: #69B532;
}
