
.hero {
  background: url("/images/OriginaltGeirVie_pano_2.jpg") repeat-x center center;
}

.account-masthead,
.navbar,
.site-footer{
  background: #0c0c0c;
}

.homepage .module-search .module-content {
  background: #01667c;
}

.module-content {
  color: black;
}

body {
  color: #69B532;
}
