
.main-header {
  background: black;
  height: 112px;
}

.coat-logo .logo img.resize {
  max-height: 112px;
}

.hero {
  background: url("/images/OriginaltGeirVie_pano_2.jpg") repeat-x center center;
}

.account-masthead,
.navbar,
.site-footer{
  background: #0c0c0c;
}

.homepage .module-search .module-content {
  background: #bcb5b5;
}

.welcome {
  color: white;
  text-align: center;
}

.welcome h1 {
  font-size: 40px;
}

.module-search .search-form h3{
  color: black;
}

/*we want headers in green */
h3, h2 {
  color: #69B76F;
}

/*solving a glitch in tag input form */
#s2id_field-tag_string {
  padding: 0px
}
