/* Fix for multiple dataset types tabs */
.masthead .navigation .nav-pills li.active a {
  background-color: inherit;
}
.masthead .navigation .nav-pills li.active a:hover,
.masthead .navigation .nav-pills li.active a:active {
  background-color: #003647;
}

.main-header {
  background: black;
  height: 112px;
}

.coat-logo .logo img.resize {
  max-height: 112px;
}

.hero {
  background: url("/images/OriginaltGeirVie_pano_2.jpg") repeat-x center center;
}

.account-masthead,
.navbar,
.site-footer{
  background: #0c0c0c;
}

.homepage .module-search .module-content {
  background: #bcb5b5;
}

.welcome {
  color: white;
  text-align: center;
}

.welcome h1 {
  font-size: 40px;
}

.module-search .search-form h3{
  color: black;
}

/*we want headers in green */
h3, h2 {
  color: #69B76F;
  word-break: break-word;
}

li {
  word-break: break-word;
}

h1 {
  word-break: break-word;
}

/* Hide URL field */
.controls > .slug-preview {
    display: none;
}
