<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('What are Modules?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>The monitoring activity in COAT is organized into <a href="https://www.coat.no/en/Overview-COAT-modules">food web modules</a>.
      Each of the food web modules includes a subsets of strongly linked species
      (or functional groups/species assemblages) that have high climate sensitivity and key functions.
      Key functions can be either ecological and/or societal.
      Each module is named by one of it’s primary monitoring targets - often the one with the highest management relevance.</p>
      <p>Within modules, admins can assign roles and authorise its
        members, giving individual users the right to publish datasets from
        that particular module .</p>
    {% endtrans %}
  </div>
</div>
